body{
margin:0;
background:url("images/background.jpg") center/cover no-repeat fixed;
color:white;
font-family:Arial;
}
.bottom-images{
  position:fixed;
  bottom:10px;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
  padding:0 60px;
  box-sizing:border-box;
}
.bottom-images img{
  height:60px;
}

.bottom-images img:first-child{
  height:80px;
}
